<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) 2025 Nishant Mishra
  ~
  ~ This file is part of Tomato - a minimalist pomodoro timer for Android.
  ~
  ~ Tomato is free software: you can redistribute it and/or modify it under the terms of the GNU
  ~ General Public License as published by the Free Software Foundation, either version 3 of the
  ~ License, or (at your option) any later version.
  ~
  ~ Tomato is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even
  ~ the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General
  ~ Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with Tomato.
  ~ If not, see <https://www.gnu.org/licenses/>.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="com.android.vending.BILLING" />

    <application>
        <meta-data
            android:name="sh.measure.android.API_KEY"
            android:value="msrsh_a5548e5ea0cd31b4c16fb5a67a87e0fe6f86dad651768a4c0239aa33f31fc172_87d8dd9f" />
        <meta-data
            android:name="sh.measure.android.API_URL"
            android:value="https://ingest.measure.sh" />
    </application>
</manifest>